@page "/addClass"
@using SMS.Layout.Dialog
@using SMS.Models.Requests.Class

<PageTitle>@Layout.PageTitle</PageTitle>

@if (GetClassDetails == null)
{
    <Loader />
}
else
{
    <Back/>
    <div class="inner-padding">
        <div class="filter d-flex justify-content-between align-items-center mb-4 gap-3 flex-wrap">
            <div class="filter-left d-flex align-items-center gap-x-2">
                <MudTextField @bind-Value="Search" Immediate="true" Placeholder="Search" Variant="Variant.Text" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" Class="search-input text-dark" />
                <ActivationFilter Value="IsActive" ValueChanged="OnStatusFilter" />
                <Filter OnFilterApplication="OnUserFilter">
                </Filter>
            </div>
            <div class="filter-right">
                <MudButton Color="Color.Primary" Variant="Variant.Filled" DropShadow="false" Class="btn btn--md" OnClick="OpenRegisterClassModal" StartIcon="@Icons.Material.Filled.Add" Disabled="IsCreateModalOpen">Register User</MudButton>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table user-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Class Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var u in GetClassDetails)
                    {
                        <tr>
                            <td>@(GetClassDetails.IndexOf(u) + 1).</td>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <MudTooltip Text="@(u.ClassName)" Color="Color.Primary" Arrow="true">
                                    </MudTooltip>
                                </div>
                            </td>

                            <td>
                                <ActivationStatus IsActive="u.IsActive" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    if (IsCreateModalOpen)
    {
        <ModalLayout T="@InsertClassDto"
                     Module="AddClass"
                     Title="Create Class"
                     Description="Register a Class to the system, by filling up the following form below."
                     SubmitColor="Color.Primary"
                     Size="modal-lg"
                     OnSave="@InsertClass"
                     CancelLabel="Discard"
                     SubmitLabel="Create">
            <div class="d-flex flex-column gap-4">
                <div class="row gap-y-5">
                    <div class="col-xl-6 col-md-6 col-12">
                        <MudTextField Label="Full Name" @bind-Value="InsertClassDto.ClassName" Required="true" Variant="Variant.Outlined" Immediate="true" />
                    </div>
                </div>
            </div>
        </ModalLayout>
    }
}

